<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/navbar') %>
        <section>
            <div class="container">
                <div class="row my-3">
                    <div class="col-md-8 px-3">
                        <h1>
                            Welcome to iShop Dashboard
                        </h1>
                        <p>
                            This is a simple dashboard for managing products in iShop. You can add, edit and delete
                            products.
                            App designed using Node.js, Express.js, MongoDB and EJS.
                            With all the CRUD operations.
                        </p>
                    </div>
                    <div class="col-md-4 px-3">
                        <img src="/src/iph_15_pro.webp" alt="" class="img-fluid">
                    </div>
                </div>
                <hr>
            </div>
        </section>


        <section>
            <div class="container">
                <div class="row">
                    <dic class="col-md-12">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                            Add Product
                        </button>
                    </dic>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row my-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header bg-dark text-white">
                                <h5 class="card-title">Products</h5>
                            </div>

                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Product Name</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Memory</th>
                                            <th scope="col">Second Hand</th>
                                            <th scope="col">Last Update</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% products.forEach(product=> { %>
                                            <tr>
                                                <td>
                                                    <%= product.specs.name %>
                                                </td>
                                                <td>
                                                    <%= product.price %> $
                                                </td>
                                                <td>
                                                    <%= product.specs.memory %>
                                                </td>
                                                <td>
                                                    <% if(product.secondHand){ %>
                                                        Yes✅
                                                        <% } else { %>
                                                            No❌
                                                            <% } %>
                                                </td>
                                                <td>
                                                    <%= formatDate(product.date) %>
                                                </td>
                                                <td>
                                                    <a href="/edit/<%= product._id %>" class="btn btn-warning">Edit</a>
                                                    <form action="/delete/<%= product._id %>" method="POST"
                                                        style="display: inline;">
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                    </form>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-dark text-white">
                        <h5 class="modal-title" id="staticBackdropLabel">Add Product</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/add-product" method="POST">
                            <div class="mb-3">
                                <label for="product-price" class="form-label
                                ">Product Price</label>
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" id="product-price" name="price"
                                        aria-describedby="emailHelp">
                                    <span class="input-group-text">$</span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="product-specs" class="form-label
                                ">iPhone Specs</label>
                                <select class="form-select" aria-label="Default select example" id="product-specs"
                                    name="specs">
                                    <option selected>Select specs</option>
                                    <% specs.forEach(spec=> {%>
                                        <option value="<%= spec.name %>">
                                            <%= spec.name %>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>
                            <!-- battery  -->
                            <div class="mb-3">

                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                                        name="secondHand">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">Second Hand</label>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary w-100">Add Product</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <%- include('partials/scripts') %>
</body>

</html>